{
    "printWidth": 100,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "auto",
    "editor.formatOnSave": true,
    "editor.formatOnPaste": true,
    "importFormatting": "auto",
    "insertSpaceAfterCommaDelimiter": true,
    "insertSpaceAfterConstructor": true,
    "insertSpaceAfterFunctionKeywordForAnonymousFunctions": true
}
